@page "/VIA"
@attribute [Authorize(Policy = "MustBeVIA")]
<h3>VIA</h3>
<p>This page can only be viewed, if your domain is VIA</p>
<img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fvignette.wikia.nocookie.net%2Fmeme%2Fimages%2F5%2F52%2FPolite_Cat-0.jpg%2Frevision%2Flatest%3Fcb%3D20200611120017&f=1&nofb=1">

@code {

}